*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.you-selected{
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
#btn-click-order{
    border-radius: 15px;
    margin-left: 15px;
    text-align: center;
}
.order-result{
    margin: 15px;
}